<form [formGroup]="productForm" class="p-3 bg-body-tertiary" (submit)="handleSubmit($event)">
    <div class="col">
        <p class="form-text text-muted">{{"€" + product.price}}</p>
        <div class="row">
            <div class="col">
                <input formControlName="amount" type="number" class="form-control" placeholder="Amount" min="1">
                <p class="form-text text-muted">{{cartService.calculateAvailable({product: product, quantity: 0})}}
                    available
                </p>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary">
                    Add
                </button>
            </div>
        </div>
    </div>
</form>