<div class='d-flex flex-column align-items-center'>
    <h2>{{ productList ? 'Page ' + productService.pageNum : 'No more products' }}</h2>
    <div class='d-flex justify-content-center gap-2'>
        @if (productService.pageNum > 1) {
        <button class='btn btn-primary' (click)=handleGetPreviousPage()>&laquo;
            @if (productList) {
            Previous
            }
            @else {
            Go back
            }
        </button>
        }
        @if(productService.hasNextProductPage()) {
        <button class="btn btn-primary" (click)=handleGetNextPage()>Next &raquo;</button>
        }
    </div>
</div>