<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Cart items</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<app-cart-modal-table />	
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-secondary" (click)="modal.close('Save click')">Order</button>
	</div>
</ng-template>
<button class="btn btn-primary" (click)="open(content)">Your cart <span class="mx-1 badge bg-secondary">{{cartService.getCartInfo().itemCount}}</span></button>